.emp{
  .input_text{
    width: 30vh;
    height: 30px;
  }
  span{
    margin-left: 5px;
  }
  .button{
    margin-left: 2vh;
  }
  .table{
    margin-top: 5vh;
  }

  .double-button{
      margin-top: 5vh;
  }

}